<!DOCTYPE html>
<html>
<head>
  <title>MekarUtama</title>
  <%= stylesheet_link_tag "light/light.css", "nivo-slider.css", "application",
                          "jquery.mCustomScrollbar" %>
  <%= javascript_include_tag "jquery-1.7.1.min.js", "application.js", 
                             "jquery.nivo.slider.js", "jquery.mCustomScrollbar",
                             "jquery.easing.1.3" %>
  <%= yield :javascript_includes %>
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
          effect: 'fade',
          pauseTime: 3000,
          animSpeed: 400,
          directionNav: false
        });
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="title">
    <%= image_tag "logo.png" %>
  </div>
  <div class="container">
    <div class="banner">
      <div id="wrapper">
        <div class="slider-wrapper theme-light">
          <div id="slider" class="nivoSlider">
            <% (1..4).each do |x| %>
              <%= image_tag "nbanner_#{x}.jpg" %>
            <% end %>
            <%# @banners.each do |banner| %>
              <%#= image_tag banner.banner_image.url(:big) %>
            <%# end %>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div id="nav-menu">
        <ul class='down-menu'>
          <span class='menu-border'><%= link_to raw("<li>Home</li>"),root_path  %></span>
          <span class='menu-border'>
              <li class='menu-product' style="cursor:pointer">
                <p>Products</p>
                <span style='display:none' class='sub-menu'>
                  <%= link_to raw("<p class='subtext'>Pencil</p>"), products_path("pencil") %>
                  <%= link_to raw("<p class='subtext'>Brodier</p>"), products_path("brodier") %>
                </span>
              </li>
          </span>
          <span class='menu-border'><%= link_to raw("<li>News</li>"),news_path %></span>
          <span class='menu-border'><%= link_to raw("<li>About Us</li>"),
                      about_us_path %></span>
          <span class='menu-border'>
            <%= link_to raw("<li class='border-right'>Contact Us</li>"),
                      contact_us_path %>
          </span>
        </ul>
      </div>
      <%= yield %>
    </div>
  </div>
  <div class="footer">
    Copyright © 2014, mekar-utama.com - all rights reserved
  </div>
</body>
</html>
