<div class="inner-content">
  <div class="inner-content-title">News</div>
  <div class="inner-content-info">
    <% @all_news.each do |news| %>
      <div class="news">
        <div class="news-image">
          <%= link_to (image_tag "3.jpg"), show_news_path(news.id) %>
        </div>
        <div class="news-content">
          <div class="news-title">
            <%= link_to news.title, show_news_path(news.id) %>
          </div>
          <div class="news-date">
            <i>Uploaded at</i><%= news.updated_at.strftime("%d %B %Y") %>
          </div>
          <div class="news-short-content"><%= raw(short_desc(news.content, 400)) %></div>
          <span><%= link_to "Read more >>", show_news_path(news.id) %></span>
        </div>
      </div>
    <% end %>
    <div class="paginate"><%= will_paginate @all_news, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %></div>
  </div>
</div>