<div class="inner-content">
  <div class="inner-content-title"><%= @category.name.titleize %> Products</div>
  <div class="inner-content-info" style="width: 900px;">
    <% @products.each_with_index do |product, x| %>
      <% margin = 'no-margin' if (x+1)%3 == 0 %>
    <div class="product-box <%= margin %>">
        <div class="product-image">
          <%= link_to (image_tag product.primary_image.product_image.url(:medium),
                                 :size => "160x100"),
                       product_path(:name => @category.name, :id => product.id) %>
        </div>
        <div class="product-info" style="font-size:21px;">
          <%= link_to product.name.titleize,
              product_path(:name => @category.name, :id => product.id)%>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paginate">
    <%= will_paginate @products, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>
  </div>
</div>